
<div class="container">

<div class="row" >
  <div class="btn btn-outline-primary" [routerLink]="'/machines-add'">
  Gép Hozzáadása
  </div>
</div>
<div class="row">
  <mat-grid-list cols="3" rowHeight="4:3">
    <mat-grid-tile *ngFor="let machine of machines; let i = index">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{machine.brand}} {{machine.name}}</h5>
          <p class="card-text">ID: {{machine.id}}</p>
          <p class="card-text">Típusa: {{machine.type}}</p>
          <p class="card-text">Letét Díj: {{machine.depositprice}}</p>
          <p class="card-text">Bérelési Díj: {{machine.rentprice}}</p>
          <p class="card-text">Súly: {{machine.weight}}</p>
          <a class="btn btn-danger" (click)="delete(machine.id)" >Törlés</a>

        </div>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
</div>
