
<div class="container">

  <div class="row">
    <mat-grid-list cols="3" rowHeight="4:4">
      <mat-grid-tile *ngFor="let user of users; let i = index">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{user.companyname}}</h5>
            <p class="card-text">ID: {{user.id}}</p>
            <p class="card-text">Képviselő: {{user.delegatename}}</p>
            <p class="card-text">Aktuális egyenleg: {{user.balance}}</p>
            <p class="card-text">Vállalat száma {{user.companynumber}}</p>
            <p class="card-text">Adószám: {{user.taxnumber}}</p>
            <p class="card-text">Megyeszékhely: {{user.headquarters}}</p>
            <a [routerLink]="'/user-update/' + user.id" class="btn btn-primary">Update</a>
            <a [routerLink]="'/replenishment/' + user.id" class="btn btn-secondary">Egyenlegfeltöltés</a>
            <a [routerLink]="'/view-user/' + user.id" class="btn btn-dark">Megtekintés</a>
            <a class="btn btn-danger" (click)="delete(user.id)" >Törlés</a>

          </div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>
