<div class="container">
  <form [formGroup]="rentForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Vállalat</label>
      <ng-select [items]="usersArray"
                 bindLabel="companyname"
                 bindValue="id"
                 formControlName="userId">
      </ng-select>
    </div>

    <div class="form-group">
      <label>Termék</label>
      <ng-select [items]="machines"
                 bindLabel="name"
                 bindValue="id"
                 formControlName="machineId">
      </ng-select>
    </div>

    <div class="form-group">
      <label>Dátum</label>
      <input type="date" class="form-control" formControlName="date">
    </div>

    <div class="form-group">
      <label>Hány napig tartott a kölcsönzés</label>
      <input type="text" class="form-control" formControlName="days">
    </div>

    <label>Sérült:</label>
    <ng-select [items]="broke"
               formControlName="broke">
    </ng-select>

    <button class="btn-dark" type="submit">
      Ok
    </button>
  </form>
</div>
