<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="machineForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Azonosító</label>
          <input class="form-control" type="number" formControlName="identifier" />
          <div class="text-danger" *ngIf="validateFormInputs['identifier'].invalid && (validateFormInputs['identifier'].dirty || validateFormInputs['identifier'].touched)">
            <small *ngIf="validateFormInputs['identifier'].errors">Az azonosító nem megfelelő (000000-999999)</small>
          </div>
        </div>

        <div class="form-group">
          <label>Márka</label>
          <input class="form-control" type="text" formControlName="brand" />
          <!-- error -->

        </div>
        <div class="form-group">
          <label >Név</label>
          <input class="form-control" type="text" formControlName="name" />
          <!-- error -->

        </div>

        <div class="form-group">
          <label >Típus</label>
          <input class="form-control" type="text" formControlName="type" />
          <!-- error -->

        </div>

        <div class="form-group">
          <label >Teljesítmény</label>
          <input class="form-control" type="number" formControlName="performance" />
          <!-- error -->

        </div>

        <div class="form-group">
          <label >Súly</label>
          <input class="form-control" type="number" formControlName="weight" />
          <!-- error -->

        </div>

        <div class="form-group">
          <label >LetétDíj</label>
          <input class="form-control" type="number" formControlName="depositprice" />
          <!-- error -->

        </div>
        <div class="form-group">
          <label >Bérleti Díj</label>
          <input class="form-control" type="number" formControlName="rentprice" />
          <!-- error -->

        </div>
        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">
            Register
          </button>
        </div>
      </form>


    </div>
  </div>
  <!-- form card register -->
</div>
